body{
  color: #ccc
}
img {
  width: 230px;
  margin-top: 10px;
  background-color: blueviolet;
}
.card {
  background-color: blueviolet;
  width: 2800px;
  margin: 20px;
  color: #ccc;
}
.box {
  display: flex;
  justify-content: center;
}
body {
  margin: 0;
  padding: 0;
  background: url("https://i.pinimg.com/originals/f4/28/d9/f428d9158ee4550edabc2cd45c86bc89.png");
}

footer {
  margin-top: 10%;
  color: black;
}
